/* src/components/Navbar.css */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Dancing+Script:wght@400..700&family=Permanent+Marker&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem 2rem;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-brand {
    font-size: 1.3rem;
    font-weight: bold;
    font-family: "Permanent Marker", cursive;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }
  
  .navbar-links li {
    display: inline;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
  }
  
  .navbar-links a:hover {
    color: #4CAF50;
  }
  
  .navbar-links .active {
    border-bottom: 2px solid #4CAF50;
  }